
@media (max-width: 1200px) {
    #img-carousel-item-1 {
        height: 56vw;
        object-fit: contain;
    }
    
    #img-carousel-item-2 {
        height: 56vw;
    }
}

@media (max-width: 992px) {
    #img-alasan-bergabung {
        height: 200px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    #img-alasan-bergabung {
        height: 300px;
        object-fit: cover;
    }
  }

@media (min-width: 1200px) {
    #img-carousel-item-1 {
        height: 40vw;
        object-fit: contain;
    }
    
    #img-carousel-item-2 {
        height: 40vw;
    }
}

